<div id="content" class="pl-0">
    <div class="input-group input-group-lg search-div">
        <input class="form-control input-lg" type="text" placeholder="Search" id="search-project">
        <div class="input-group-btn">
            <button type="submit" class="btn btn-default">
                &#xA0;&#xA0;&#xA0;<i class="fa fa-fw fa-search fa-lg"></i>&#xA0;&#xA0;&#xA0;
            </button>
        </div>
    </div>
    <div class="row partial-wrapper">     
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-9 content-section">
            <div class="row">
                <div class="col-xs-12" *ngIf="isSubmit">
                    <button type="button" class="btn btn-block" (click)="submitContent(template)">Submit Content</button>
                </div>
            </div>


            <div class="col-xs-12 pr-0 pl-0" *ngFor="let n of news; first as isFirst; last as isLast" [ngClass]="{'pt-2':isFirst, 'pb-2':isLast}">
                <table class="wrapper-table">
                    <tr>
                        <td colspan="2"><img [src]="n.avatar[0].src" alt="avatar" class="img-post"> </td>
                        <td>
                            <div class="blueTitles" [innerText]="n.name"><small class="pull-right genericBlackText" [innerText]="n.time"></small> </div>
                            <p class="genericBlackText pt-half" [innerText]="n.desc"></p>
                            <div class="mb-1">
                                <img *ngFor="let img of n.images" [src]="img.src" alt="avatar" class="image-reponsive main-post pt-1" />
                            </div>
                            <p>
                                <span><i class="fa fa-heart-o heart"></i> {{n.likes}}</span>
                                <!--<span class="ml-1 cursor-p" placement="bottom" [tooltip]="shareTemplate" containerClass="share-tooltip"><i class="fa fa-share-alt cogs"></i> 2</span>-->
                                <!--<span class="pull-right">
                            <ul class="rating">
                                <li><i [className]="n.rating >= 1 ? 'fa fa-star':'fa fa-star-o' "></i> </li>
                                <li><i [className]="n.rating >= 2 ? 'fa fa-star':'fa fa-star-o' "></i> </li>
                                <li><i [className]="n.rating >= 3 ? 'fa fa-star':'fa fa-star-o' "></i> </li>
                                <li><i [className]="n.rating >= 4 ? 'fa fa-star':'fa fa-star-o' "></i> </li>
                                <li><i [className]="n.rating >= 5 ? 'fa fa-star':'fa fa-star-o' "></i> </li>
                            </ul>
                        </span>-->
                            </p>
                        </td>
                    </tr>
                </table>


                <div *ngIf="!isLast" class="clearfix">
                    <hr class="clearfix" />
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3 recomm-section hidden-xs">
            <recommended-orgs></recommended-orgs>
        </div>
    </div>
</div>
<!-- END MAIN CONTENT -->
<ng-template #template>
    <div class="modal-header dialog-header-wait">
        <h4 class="modal-title pull-left"><i class="fa fa-info-circle"></i> Submit Content</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body dialog-body-wait">
        <form>
            <div class="form-group">
                <label class="col-xs-4">Type:</label>
                <div class="col-xs-8">                
                    <select class="form-control select2-select">
                        <option>Articles</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-4">Location:</label>
                <div class="col-xs-8">
                    <select class="form-control">
                        <option>Illinois</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-4">Topic:</label>
                <div class="col-xs-8">
                    <select class="form-control">
                        <option>Abortion</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-4">Link:</label>
                <div class="col-xs-8">
                    <input type="text" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-4">Add:</label>
                <div class="col-xs-8">
                    <span class="image-placeholder">Image or Video</span>
                    <input class="opacity-0" type="file" value="Image or Video" />
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer text-right atp-modal-footer">
        <button type="button" class="btn btn-default btn-block btn-content " aria-label="Close" (click)="modalRef.hide()">
            Submit
        </button>
    </div>
</ng-template>