<div id="content" class="pl-0">
  <div class="input-group input-group-lg search-div">
    <input class="form-control input-lg" type="text" placeholder="Search" id="search-project">
    <div class="input-group-btn">
      <button type="submit" class="btn btn-default">
        &#xA0;&#xA0;&#xA0;<i class="fa fa-fw fa-search fa-lg"></i>&#xA0;&#xA0;&#xA0;
      </button>
    </div>
  </div>
  <div class="row submit-content">
    <!--<div class="col-xs-12">
      <form class="smart-form">
        <fieldset class="p-0">
          <div class="text-center">

            <button type="submit" class="btn btn-block">Submit Content</button>

          </div>
        </fieldset>
      </form>
    </div>-->
    <div class="col-xs-12" *ngIf="isSubmit">
        <form method="post" class="well post-form mb-0" onsubmit="return false;">
            <div class="row1">
                <div class="col-xs-12 col-sm-3 col-md-3 cell">
                    <label class="col-xs-3 col-sm-4 pl-0">Link</label> <input class="col-xs-9 col-sm-8" placeholder="" type="text" />
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3 cell">
                    <label class="col-xs-5 col-sm-8 col-md-7 col-lg-5 pl-0">Photo/Video</label><label class="col-xl-4 col-sm-4" for="image"><img style="width:25px;" src="../../../assets/atp/image-holder.PNG" /> <input id="image" class="hidden" placeholder="" type="file" /></label>
                </div>
                <div class="col-xs-12 col-sm-2 col-md-2 cell p-0">
                    <select>
                        <option>Content Type</option>
                        <option value="AK">Article</option>
                        <option value="HI">Video</option>
                    </select>
                </div>
                <div class="col-xs-12 col-sm-2 col-md-2 cell p-0">
                    <select>
                        <option>Topic</option>
                        <option value="AK">Topic 1</option>
                        <option value="HI">Topic 2</option>
                    </select>
                </div>
                <div class="col-xs-12 col-sm-2 col-md-2 cell p-0">
                    <select>
                        <option>State</option>
                        <option value="AK">Alaska</option>
                        <option value="HI">Huwaii</option>
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <textarea rows="4" class="form-control" placeholder="Some information regarding the article/video can be inserted here ..."></textarea>
                </div>
            </div>
            <fieldset class="p-0">
                <div class="text-center">

                    <button type="submit" class="btn btn-block">Submit Content</button>

                </div>
            </fieldset>
        </form>
    </div>
  </div>
  <div class="row wrapper">
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-9 content-section">
      <div class="col-xs-12 pr-0" *ngFor="let n of news; first as isFirst; last as isLast" [ngClass]="{'pt-2':isFirst, 'pb-2':isLast}">
        <table class="news-table">
          <tr>
            <td colspan="2"><img [src]="n.avatar[0].src" alt="avatar" class="img-post"> </td>
            <td>
              <div><strong class="level-1h" [innerText]="n.name"></strong> <small class="pull-right" [innerText]="n.time"></small> </div>
              <p class="desc pt-half" [innerText]="n.desc"></p>
              <div class="mb-1">
                <img *ngFor="let img of n.images" [src]="img.src" alt="avatar" class="image-reponsive main-post pt-1" />
              </div>
              <p>
                <span><i class="fa fa-heart-o heart"></i> {{n.likes}}</span>
                <span class="ml-1 cursor-p" placement="bottom" [tooltip]="shareTemplate" containerClass="share-tooltip"><i class="fa fa-share-alt cogs"></i> 2</span>
                <span class="pull-right">
                  <ul class="rating">
                    <li><i [className]="n.rating >= 1 ? 'fa fa-star':'fa fa-star-o' "></i> </li>
                    <li><i [className]="n.rating >= 2 ? 'fa fa-star':'fa fa-star-o' "></i> </li>
                    <li><i [className]="n.rating >= 3 ? 'fa fa-star':'fa fa-star-o' "></i> </li>
                    <li><i [className]="n.rating >= 4 ? 'fa fa-star':'fa fa-star-o' "></i> </li>
                    <li><i [className]="n.rating >= 5 ? 'fa fa-star':'fa fa-star-o' "></i> </li>
                  </ul>
                </span>
              </p>
            </td>
          </tr>
        </table>


        <div *ngIf="!isLast" class="clearfix">
          <hr class="clearfix" />
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3 recomm-section hidden-xs">
      <recommended-orgs></recommended-orgs>
    </div>
  </div>
</div>
<!-- END MAIN CONTENT -->
<ng-template #shareTemplate>
  <span class="well-sm">
    <i class="fa fa-facebook-official facebook-color txt-14"></i>
    <span class="txt-14 pl-1 pr-1 atp-blue opacity-point-4">|</span>
    <i class="fa fa-twitter twitter-color txt-14"></i>
  </span>
</ng-template>