<div class="row articles">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-1 pr-0 pl-2 pr-2 pt-1">
        <h1 class="atp-blue level-1h">Our Goals</h1>
        <p class="desc">
            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
            The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here',
            making it look like readable English. Many desktop publishing packages.
        </p>
        <p class="desc pt-half">
            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
            The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters.
        </p>
        <div class="clearfix mt-0 mb-0">
            <hr class="clearfix" />
        </div>
        <h1 class="atp-blue level-1h">Current Projects</h1>
        <ul class="ul-desc pl-1 opacity-point-8">
            <li style="list-style:decimal;">Morbi aliquam posuere sapien eu faucibus.</li>
            <li style="list-style:decimal;">Morbi aliquam posuere sapien eu faucibus.</li>
        </ul>
        <div class="clearfix mt-0 mb-0">
            <hr class="clearfix" />
        </div>
        <h1 class="atp-blue level-1h">Position Needing Field</h1>
        <ul class="ul-desc pl-0 atp-blue opacity-point-8">
            <li style="list-style:none;">- Grants Specialist</li>
            <li style="list-style:none;">- Staff Trainer.</li>
            <li style="list-style:none;">- Operations Assistant.</li>
        </ul>
        <div class="clearfix mt-0 mb-0">
            <hr class="clearfix" />
        </div>
        <h1 class="atp-blue level-1h">Duties Needing Completed</h1>
        <ul class="ul-desc pl-1 desc">
            <li>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</li>
            <li>
                It is a long established fact that a reader will be distracted byIt is a long established fact that a reader will be distracted by
                the readable content of a page when looking at its layout. the readable content of a page when looking at its layout.
            </li>
            <li>
                It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
            </li>
        </ul>
        <p class="desc">
            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
            The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here',
            making it look like readable English. .
        </p>
        <div class="clearfix mt-0 mb-0">
            <hr class="clearfix" />
        </div>
        <h1 class="atp-blue level-1h">Contact Information</h1>
        <p class="atp-blue"><strong>E-mail: </strong>support@nameoforganization.com</p>
        <p class="atp-blue"><strong>Phone: </strong>(281) 330-8004</p>
        <p class="atp-blue"><strong>Mailing Address: </strong></p>
        <p class="atp-blue">Name of Organization</p>
        <p class="atp-blue">337 Longvie Drive</p>
        <p class="atp-blue">Belleville.IL 62223</p>
    </div>
</div>