<div class="row articles">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-0 pr-0 pl-2 pr-2 pt-0">
        <h1 class="organizationAboutHeadings">Goals</h1>
        <div class="row m-0">
            <table class="table">
                <tr>
                    <td><strong class="genericRedText">Short Term:</strong></td>
                    <td class="genericBlackText">
                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                        The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here',
                        making it look like readable English. Many desktop publishing packages.
                    </td>
                </tr>
            </table>

            <table class="table mt-1">
                <tr>
                    <td><strong class="genericRedText">Long Term:</strong></td>
                    <td class="genericBlackText">
                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                        The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here',
                        making it look like readable English. Many desktop publishing packages.
                    </td>
                </tr>
            </table>

        </div>

        <h1 class="organizationAboutHeadings">Current Projects</h1>
        <div class="row m-0">
            <table class="table mt-1">
                <tr>
                    <td style="min-width:110px;"><strong class="genericRedText">Name of project:</strong></td>
                    <td class="genericBlackText">
                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                        The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here',
                        making it look like readable English. Many desktop publishing packages.
                    </td>
                </tr>
            </table>
            <table class="table mt-1">
                <tr>
                    <td style="min-width:110px;"><strong class="genericRedText">Name of project:</strong></td>
                    <td class="genericBlackText">
                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                        The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here',
                        making it look like readable English. Many desktop publishing packages.
                    </td>
                </tr>
            </table>



        </div>

        <div class="clearfix mt-0 mb-0">
            <hr class="clearfix" />
        </div>
        <h1 class="organizationAboutHeadings">Position Needing Field</h1>
        <div class="row m-0">
            <table class="table m-0">
                <tr>
                    <td style="min-width:unset; width: 63px"><strong class="genericRedText">Position:</strong></td>
                    <td class="genericBlackText">
                        Project Manager
                    </td>
                </tr>
            </table>
            <table class="table m-0">
                <tr>
                    <td style="min-width:unset; width: 47px"><strong class="genericRedText">Tasks:</strong></td>
                    <td class="genericBlackText">
                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                    </td>
                </tr>
            </table>
        </div>
        <div class="row m-0">
            <table class="table">
                <tr>
                    <td style="min-width:unset; width: 63px"><strong class="genericRedText">Position:</strong></td>
                    <td class="genericBlackText">
                        Project Manager
                    </td>
                </tr>
            </table>
            <table class="table">
                <tr>
                    <td style="min-width:unset; width: 47px"><strong class="genericRedText">Tasks:</strong></td>
                    <td class="genericBlackText">
                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                    </td>
                </tr>
            </table>
        </div>

        <div class="row m-0">
            <table class="table">
                <tr>
                    <td style="min-width:unset; width: 63px"><strong class="genericRedText">Position:</strong></td>
                    <td class="genericBlackText">
                        Project Manager
                    </td>
                </tr>
            </table>
            <table class="table">
                <tr>
                    <td style="min-width:unset; width: 47px"><strong class="genericRedText">Tasks:</strong></td>
                    <td class="genericBlackText">
                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                    </td>
                </tr>
            </table>
        </div>

        <div class="clearfix mt-0 mb-0">
            <hr class="clearfix" />
        </div>
        <h1 class="atp-blue level-1h">Contact Information</h1>
        <p class="atp-blue"><strong>E-mail: </strong>support@nameoforganization.com</p>
        <p class="atp-blue"><strong>Phone: </strong>(281) 330-8004</p>
        <p class="atp-blue"><strong>Mailing Address: </strong></p>
        <p class="atp-blue">Name of Organization</p>
        <p class="atp-blue">337 Longvie Drive</p>
        <p class="atp-blue">Belleville.IL 62223</p>
    </div>
</div>