<div class="row articles">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-1 pl-0 pr-0" *ngFor="let a of organizations; first as isFirst; last as isLast" [ngClass]="{'pt-2':isFirst, 'pb-2':isLast}">
    <table class="politician-table">
      <tr>
        <td><div class="level-2h">
            <span class="atp-blue">Name of Topic Goes Here .</span>
            <span class="atp-red pl-half">Title of bill goes here</span>
            </div></td>
        <td class="width-100p"><i class="fa fa-angle-right"></i> </td>
      </tr>
    </table>
    <div *ngIf="!isLast" class="clearfix mt-0 mb-0">
      <hr class="clearfix" />
    </div>
  </div>
</div>