.partial-wrapper {
    height: 695px;

    table.wrapper-table {
        width: auto;

        tr {

            td:first-of-type {
                /* padding-left: 0.2em; */
                padding-right: 0.8em;
                text-align: left;
                vertical-align: top;
                width: 97%;
            }

            td.width-100p {
                width: 30px;
            }


            td:last-of-type {
                text-align: center;
            }
        }
    }
}
