<div class="row partial-wrapper">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 pl-0 pr-0" *ngFor="let a of articles; first as isFirst; last as isLast" [ngClass]="{'pt-2':isFirst, 'pb-2':isLast}">
        <table class="wrapper-table">
            <tr>
                <td colspan="2">

                    <img [src]="a.avatar[0].src" alt="avatar" class="img-post">
                </td>
                <td>

                    <div class="row">
                        <div class="col-xs-7"><span class="blackTitles" [innerText]="a.name"></span></div>
                        <div class="col-xs-5 text-right"><button class="boycottedButton">Boycotted</button> </div>
                    </div>
                    <div class=""><strong class="genericBlueText">Reason: </strong></div>
                    <div class="genericBlackText" [innerHtml]="a.desc"></div>

                </td>
            </tr>
        </table>
        <div *ngIf="!isLast" class="clearfix mt-0 mb-0">
            <hr class="clearfix" />
        </div>
    </div>
</div>