@import '../../../_variables.scss';
$legHeight: 887px;
.partial-wrapper {
    height: $legHeight;

    table.wrapper-table {
        width: auto;

        tr {
            td.width-100p {
                width: 110px;
            }

            td:last-of-type {
                text-align: right;
            }


            td:first-of-type {
                /*width: 6%;*/
                img {
                }
            }

            td:nth-child(2){
                width: 100%;
            }

            .text-ellipses {
                display: block;
                width: auto;
            }

            @media (max-width: 425px) {
                .text-ellipses {
                    display: block;
                    width: 137px;
                }
            }
        }
    }
}
