<div class="row partial-wrapper">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 pl-0 pr-0" *ngFor="let a of organizations; first as isFirst; last as isLast" [ngClass]="{'pt-2':isFirst, 'pb-2':isLast}">
    <table class="wrapper-table">
      <tr>
        <td><img [src]="a.avatar[0].src" alt="avatar" class="img-post"></td>
        <td><strong class="level-1h" [innerText]="a.name"></strong></td>
        <td class="width-100p">
          <button *ngIf="a.following;else notFollowing" class="btn btn-round btn-following">Following</button>
          <ng-template #notFollowing>
              <button class="btn btn-round btn-follow">Follow</button>
          </ng-template>
        </td>
      </tr>
    </table>
    <div *ngIf="!isLast" class="clearfix mt-0 mb-0">
      <hr class="clearfix" />
    </div>
  </div>
</div>