<!-- MAIN CONTENT -->
<div id="content">
  <div class="row">
    <sa-big-breadcrumbs [items]="['Store']" icon="" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></sa-big-breadcrumbs>
  </div>
  <div class="row">
    <div class="col-sm-12">

      <div class="alert alert-info fade in">
        <button class="close" data-dismiss="alert">
          ×
        </button>
        <i class="fa-fw fa fa-info"></i>
        <strong>Heads up!</strong> If the widgets are not reacting to your drag and drop events on chrome, try to turn off chrome touch events by going to, 
          <a href="chrome://flags/#touch-events">chrome://flags/#touch-events</a> if you do not have a touch screen.
      </div>

      
    </div>
  </div>
 
</div>

