.articles {
    overflow-y: auto;
    height: 695px;
    margin-left: -13px;
    clear: both;
    overflow-x: hidden;
    margin-right: -2px;
    padding-right:2px;

    hr {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    table.district-table {
        width: 98%;

        tr {
            td {
                padding-left: 1em;

                .thumbs-up {
                    color: green;

                    i {
                        font-size: 14px;
                    }

                    small {
                        position: absolute;
                        top: 15px;
                        right: 13px;
                    }
                }

                .thumbs-down {
                    color: red;

                    i {
                        font-size: 14px;
                    }

                    small {
                        position: absolute;
                        top: 15px;
                        right: 0px;
                    }
                }
            }
        }

        .rating {
            float: right;
            padding: 0;

            li {
                display: inline;
                padding-right: 3px;
                float: left;
                font-size: 11px;
            }

            .fa-star {
                color: #ffd800;
            }
        }
    }
}
