.partial-wrapper {
    height: 695px;

    hr {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .display-flex {
        padding-top: 1.0em;
        border-bottom: solid 1px #ddd;
        padding-bottom: 1.5em;
        line-height: 20px;

        .thumbs-up {
            color: green;

            i {
                font-size: 14px;
            }

            small {
                position: absolute;
                top: 15px;
                right: 13px;
            }
        }

        .thumbs-down {
            color: red;

            i {
                font-size: 14px;
            }

            small {
                position: absolute;
                top: 15px;
                right: 0px;
            }
        }
    }
}
