.partial-wrapper {
    height: 695px;

    hr {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    table.wrapper-table {
       width:auto;

        tr {
            td {
               text-align:left;

                .thumbs-up {
                    color: green;

                    i {
                        font-size: 14px;
                    }

                    small {
                        position: absolute;
                        top: 15px;
                        right: 13px;
                    }
                }

                .thumbs-down {
                    color: red;

                    i {
                        font-size: 14px;
                    }

                    small {
                        position: absolute;
                        top: 15px;
                        right: 0px;
                    }
                }
            }
        }       
    }
}
