<!-- MAIN CONTENT -->
<div id="content" class="pl-0">
  <div class="input-group input-group-lg search-div">
    <input class="form-control input-lg" type="text" placeholder="Search" id="search-project">
    <div class="input-group-btn">
      <button type="submit" class="btn btn-default">
        &#xA0;&#xA0;&#xA0;<i class="fa fa-fw fa-search fa-lg"></i>&#xA0;&#xA0;&#xA0;
      </button>
    </div>
  </div>
    <div class="row partial-wrapper">
      <div class="col-xs-12 col-sm-8 col-md-8 col-lg-9 content-section">
          <div class="col-xs-12 pr-0 pl-0" *ngFor="let n of news; first as isFirst; last as isLast" [ngClass]="{'pt-2':isFirst}">
              <table class="wrapper-table">
                  <tr>
                      <td>
                          <div class="post-heading mb-half">
                              <strong class="blueBoldText" [innerText]="n.name"></strong>
                              <span class="pull-right genericBlackText" [innerText]="n.time"></span>
                          </div>
                          <div class="post-heading mb-half">
                              <strong class="genericRedText" [innerText]="n.topic"></strong>
                              
                          </div>
                          <div class="post-heading mb-half">
                              <strong class="smallGreyBoldText" [innerText]="n.city"></strong>
                          </div>
                          <p class="genericBlackText" [innerHtml]="n.desc">
                          </p>
                      </td>

                  </tr>
              </table>

              <div *ngIf="!isLast" class="clearfix">
                  <hr class="clearfix" />
              </div>
          </div>
      </div>

      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3 recomm-section hidden-xs">
        <recommended-orgs></recommended-orgs>
      </div>
    </div>

</div>
<!-- END MAIN CONTENT -->
<ng-template #shareTemplate>
  <span class="well-sm">
    <i class="fa fa-facebook-official facebook-color txt-14"></i>
    <span class="txt-14 pl-1 pr-1 atp-blue opacity-point-4">|</span>
    <i class="fa fa-twitter twitter-color txt-14"></i>
  </span>
</ng-template>