<div class="row partial-wrapper">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 pl-0 pr-0" *ngFor="let a of articles; first as isFirst; last as isLast" [ngClass]="{'pt-1':isFirst, 'pb-2':isLast}">
    <table class="wrapper-table">
      <tr>
        <td colspan="2"><img [src]="a.avatar[0].src" alt="avatar" class="img-post"></td>
        <td>         
          <div class="row p-0 m-0">
            <div class="col-xs-12 pl-0 pb-half"><span class="blueTitles" [innerText]="a.name"></span></div>
          </div>
        <p class="genericBlackText" [innerHtml]="a.desc"></p>
        <p class="genericRedText cursor-p"><small class="bold">Read More</small></p>
        </td>
        
      </tr>
    </table>

    <div *ngIf="!isLast" class="clearfix mt-0 mb-0">
      <hr class="clearfix" />
    </div>
  </div>
</div>