.partial-wrapper {
    height: 695px;

    table.wrapper-table {
        width: auto;
    }

    hr {
        margin-top: 4px;
        margin-bottom: 10px;
        border: 0;
        border-top: 1px solid #eee;
    }
}
