<div class="row articles">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-1 pl-0 pr-0" *ngFor="let a of organizations; first as isFirst; last as isLast" [ngClass]="{'pt-2':isFirst, 'pb-2':isLast}">
    <table class="org-table">
      <tr>
        <td><img [src]="a.avatar[0].src" alt="avatar" class="img-post"></td>
        <td><strong class="level-1h" [innerText]="a.name"></strong></td>
        <td class="width-100p"><button class="btn btn-round">Following</button></td>
      </tr>
    </table>
    <div *ngIf="!isLast" class="clearfix mt-0 mb-0">
      <hr class="clearfix" />
    </div>
  </div>
</div>