<div id="content" class="pl-0">
  <div class="input-group input-group-lg hidden-mobile search-div">
    <input class="form-control input-lg" type="text" placeholder="Search" id="search-project">
    <div class="input-group-btn">
      <button type="submit" class="btn btn-default">
        &#xA0;&#xA0;&#xA0;<i class="fa fa-fw fa-search fa-lg"></i>&#xA0;&#xA0;&#xA0;
      </button>
    </div>
  </div>
  <div class="row wrapper">
      <div class="col-xs-12 col-sm-8 col-md-8 col-lg-9 content-section">
          <div class="profile-section pt-1 pb-1" *ngIf="organizationId">
              <table>
                  <tr>
                      <td rowspan="2">
                          <div class="push-bit"><img src="../../../assets/atp/presbyterian-women-logo.png" /></div>

                      </td>
                      <td>
                          <label class="txt-16 atp-color bolder m-0">Presbyterian women</label>
                      </td>
                  </tr>
                  <tr>
                      <td><label class="atp-blue bold"><i class="fa fa-map-marker"></i> San Francisco, CA </label></td>
                  </tr>
              </table>
          </div>

          <div class="scroll-menu" *ngIf="organizationId">
              <header class="atp-scroll-menu">
                  <nav class="vertical-align-middle">
                      <span routerLinkActive="active" [routerLink]="['/organizations/video', organizationId]">Videos</span>
                      <span routerLinkActive="active" [routerLink]="['/organizations/articles', organizationId]">Articles</span>
                      <span routerLinkActive="active" [routerLink]="['/organizations/about', organizationId]">About</span>
                      <span routerLinkActive="active" [routerLink]="['/organizations/stance', organizationId]">Stance</span>
                      <!--<span routerLinkActive="active" [routerLink]="'/organizations/events'">Events</span>-->
                  </nav>
              </header>
          </div>

          <div class="content-container">
              <router-outlet></router-outlet>
          </div>

      </div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3 recomm-section hidden-xs">
      <recommended-orgs></recommended-orgs>
    </div>
  </div>

</div>
<!-- END MAIN CONTENT -->
<ng-template #shareTemplate>
  <span class="well-sm">
    <i class="fa fa-facebook-official facebook-color txt-14"></i>
    <span class="txt-14 pl-1 pr-1 atp-blue opacity-point-4">|</span>
    <i class="fa fa-twitter twitter-color txt-14"></i>
  </span>
</ng-template>