<div class="row partial-wrapper">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 pl-0 pr-0" *ngFor="let a of letters; first as isFirst; last as isLast" [ngClass]="{'pt-1':isFirst, 'pb-2':isLast}">
        <table class="wrapper-table">

            <tr>
                <td colspan="2"><img [src]="a.avatar[0].src" alt="avatar" class="img-post"></td>
                <td>
                    <div class="genericBlackText">
                        <small *ngIf="a.replies > 0; else reply">{{a.replies}} replies</small>
                        <ng-template #reply> <small>No Reply</small></ng-template>
                    </div>
                    <div class="row">
                        <div class="col-xs-9 col-sm-10 col-md-11 col-lg-11 mr-0 pr-0">
                            <span class="blueTitles" [innerText]="a.name"></span>
                        </div>
                        <div class="col-xs-3 col-sm-2 col-md-1 col-lg-1 text-right"><small class="genericBlackText" [innerText]="a.time"></small> </div>
                        <div class="col-xs-12"><span class="genericBlackText" [innerHtml]="a.desc"></span></div>
                        <div class="col-xs-12"><a class="genericRedText" [routerLink]="['/profile/letters/',a.id]">Read More</a></div>

                    </div>
                </td>
            </tr>
        </table>
        <div *ngIf="!isLast" class="clearfix mt-0 mb-0">
            <hr class="clearfix" />
        </div>
    </div>
</div>