<ul class="header-dropdown-list hidden-xs ng-cloak">
  <li class="dropdown" dropdown>
    <a class="dropdown-toggle profile-dropdown" dropdownToggle>
      <i class="fa fa-bell fa-2x"></i>
      <!--<span>&nbsp;&nbsp;</span>
      <i class="fa fa-angle-down"></i>-->
    </a>
    <ul *dropdownMenu class="dropdown-menu">
      <li><a (click)="(null)" class="dropdown-item">First notification</a></li>
      <li><a (click)="(null)" class="dropdown-item">Second Notification</a></li>
    </ul>
  </li>
</ul>
