<div id="content" class="pl-0">
    <div class="input-group input-group-lg search-div">
        <input class="form-control input-lg" type="text" placeholder="Search" id="search-project">
        <div class="input-group-btn">
            <button type="submit" class="btn btn-default">
                &#xA0;&#xA0;&#xA0;<i class="fa fa-fw fa-search fa-lg"></i>&#xA0;&#xA0;&#xA0;
            </button>
        </div>
    </div>
    <div class="row wrapper">
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-9 content-section">
            <div class="row articles">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-half pl-0 pr-0" *ngFor="let a of articles; first as isFirst; last as isLast" [ngClass]="{'pt-1':isFirst, 'pb-1':isLast}">
                    <table class="org-table">
                        <tr>
                            <td colspan="2">
                                <img [src]="a.avatar[0].src" alt="avatar" class="img-post">
                            </td>
                            <td>
                                <!--<p class="level-2h atp-blue" [innerText]="a.website"></p>-->
                                <div class="row pt-half">
                                    <div class="col-xs-7"><strong class="level-1h" [innerText]="a.name"></strong></div>
                                    <div class="col-xs-5 text-right m-0 p-0">
                                        <button *ngIf="!a.supported;else supported" class="support">Support</button>
                                        <ng-template #supported>
                                            <button class="supported">Supported</button>
                                        </ng-template> 
                                    </div>
                                </div>
                                <p class="pt-1"><strong class="level-3h">REASONS:</strong></p>
                                <p class="desc" [innerHtml]="a.desc"></p>

                            </td>
                        </tr>
                    </table>
                    <div *ngIf="!isLast" class="clearfix mt-0 mb-0">
                        <hr class="clearfix" />
                    </div>
                </div>
            </div>

        </div>

        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3 recomm-section hidden-xs">
            <recommended-orgs></recommended-orgs>
        </div>
    </div>
</div>
<ng-template #shareTemplate>
    <span class="well-sm">
        <i class="fa fa-facebook-official facebook-color txt-14"></i>
        <span class="txt-14 pl-1 pr-1 atp-blue opacity-point-4">|</span>
        <i class="fa fa-twitter twitter-color txt-14"></i>
    </span>
</ng-template>