<div class="row partial-wrapper">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 pl-0 pr-0 pt-2">

        <table class="wrapper-table">
            <tr>
                <td colspan="2" class="text-center pb-1">
                    <strong class="atp-blue mb-0"><i class="fa fa-angle-left bolder mr-half"></i> <a class="cursor-p" [routerLink]="'/profile/letters'">Letters</a></strong>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <img [src]="letter.avatar[0].src" alt="avatar" class="img-post">
                </td>
                <td>
                    <br />
                    <p class="">
                        <span class="bold genericBlackText">To: </span>
                        <span class="genericRedText" [innerText]="letter.representative"></span>
                    </p>
                    <div class="row">
                        <div class="col-xs-9 col-sm-10 col-md-11 col-lg-11 mr-0 pr-0">
                            <span class="blueTitles" [innerText]="letter.name"></span>
                        </div>
                        <div class="col-xs-3 col-sm-2 col-md-1 col-lg-1 text-right"><small class="genericBlackText" [innerText]="letter.time"></small> </div>
                    </div>
                    <p class="genericBlackText" [innerHtml]="letter.desc"></p>
                    <table class="org-child-table">
                        <tr>
                            <td colspan="2" class="pl-0 ml-0">
                                <p class="genericBlackText"><small>2 Reply(s)</small></p>
                                <img [src]="letter.avatar[0].src" alt="avatar" class="img-post">
                            </td>
                            <td class="ml-0">
                                <br />
                                <div class="row">
                                    <div class="col-xs-9 col-sm-10 col-md-11 col-lg-11 mr-0 pr-0 mb-half">
                                        <span class="bold genericBlackText">To: </span>
                                        <span class="genericRedText" [innerText]="letter.representative"></span>
                                    </div>
                                    <div class="col-xs-3 col-sm-2 col-md-1 col-lg-1 text-right"><small class="genericBlackText" [innerText]="letter.time"></small> </div>
                                    <div class="col-xs-12"><span class="genericBlackText" [innerHtml]="letter.desc"></span></div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <div class="letter-detail-desc"></div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" class="pl-0 ml-0">
                                <img [src]="letter.avatar[0].src" alt="avatar" class="img-post">
                            </td>
                            <td class="ml-0">
                                <br />
                                <div class="row">
                                    <div class="col-xs-9 col-sm-10 col-md-11 col-lg-11 mr-0 pr-0 mb-half">
                                        <span class="bold genericBlackText">To: </span>
                                        <span class="genericRedText" [innerText]="letter.representative"></span>
                                    </div>
                                    <div class="col-xs-3 col-sm-2 col-md-1 col-lg-1 text-right"><small class="genericBlackText" [innerText]="letter.time"></small> </div>
                                    <div class="col-xs-12"><span class="genericBlackText" [innerHtml]="letter.desc"></span></div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
</div>