<footer class="footer">
	<div class="cont">
		<div class="row">
			<div class="col text-right">
				<small class="color-white pull-left">ATP <i class="fa fa-copyright"></i> 2019</small>
				<a [routerLink]="'/about'">
					<small class="color-white pr-2">About</small>
				</a>
				<a [routerLink]="'/terms'">
					<small class="color-white pr-2">Terms</small>
				</a>
				<a [routerLink]="'/policy'">
					<small class="color-white pr-2">Policy</small>
				</a>
				<a [routerLink]="'/contact'"><small class="color-white pl-2">Contact</small></a>
			</div>
		</div>
	</div>
</footer>
