.smart-style-7 body,
body.smart-style-7 {
    background: #fff;
    font-family: Arial, sans-serif
}

.smart-style-7 #logo img {
    width: 82px;
    height: auto;
    padding-left: 3px;
    margin-top: -14px;
}

.smart-style-7 #header {
    background-color: #012778;
    background-image: -moz-linear-gradient(top, #012778, #012778);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#012778), to(#012778));
    background-image: -webkit-linear-gradient(top, #012778, #012778);
    background-image: -o-linear-gradient(top, #012778, #012778);
    background-image: linear-gradient(to bottom, #012778, #012778);
}

.smart-style-7 #ribbon {
    background: #fff
}

.smart-style-7 #hide-menu i {
    color: #fff !important
}

.smart-style-7 .header-dropdown-list > li > .dropdown-toggle {
    display: block;
    background: rgba(0, 0, 0, .2);
    padding: 2px 7px 3px;
    border-radius: 3px;
    margin-top: 14px
}

.smart-style-7 .header-search > input[type=text] {
    border-color: #CA854F
}

.smart-style-7 .header-search > button {
    color: #DF9B45
}

.smart-style-7 aside {
    background: #f2f2f2;
    border-right: 2px solid #ccc
}

.smart-style-7 .login-info {
    border-bottom: 1px solid #E2E2E2;
    background: #fff;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none
}

    .smart-style-7 .login-info span {
        border-bottom: none
    }

    .smart-style-7 .login-info a span {
        color: #444 !important
    }

.smart-style-7 nav > ul > li {
    background-color: #f2f2f2;
    background-image: -moz-linear-gradient(top, #f9f9f9, #f2f2f2);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f9f9f9), to(#f2f2f2));
    background-image: -webkit-linear-gradient(top, #f9f9f9, #f2f2f2);
    background-image: -o-linear-gradient(top, #f9f9f9, #f2f2f2);
    background-image: linear-gradient(to bottom, #f9f9f9, #f2f2f2);
    border-bottom: 1px solid #DFDFDF
}

    .smart-style-7 nav > ul > li > a {
        padding: 12px 10px 12px 11px;
        font-size: 13px
    }

        .smart-style-7 nav > ul > li > a b {
            top: 12px
        }

        .smart-style-7 nav > ul > li > a > i {
            color: #5a5a5a;
            font-size: 20px
        }

    .smart-style-7 nav > ul > li.active > a:before {
        top: 10px !important
    }

    .smart-style-7 nav > ul > li.open {
        border-left: 4px solid #4D8BA5
    }

        .smart-style-7 nav > ul > li.open > a {
            padding-left: 7px
        }

        .smart-style-7 nav > ul > li.open ul li > a,
        .smart-style-7 nav > ul > li.open > ul > li > a {
            padding-left: 38px
        }

.smart-style-7 nav ul li.active > a:before {
    top: 6px;
    color: #bbb
}

.smart-style-7 nav ul li.active > a {
    font-weight: 700
}

.smart-style-7 nav ul ul {
    background: 0 0
}

    .smart-style-7 nav ul ul li > a {
        font-size: 13px
    }

.smart-style-7 nav ul li a:hover {
    background: rgba(0, 0, 0, .05) !important
}

.smart-style-7 .superbox-list.active:before {
    color: #3D3B39
}

.smart-style-7 .active + .ajax-dropdown {
    -webkit-box-shadow: 1px 14px 16px rgba(248, 248, 248, 1);
    box-shadow: 1px 14px 16px rgba(248, 248, 248, 1);
}

.smart-style-7 .dropdown-menu {
    border-radius: 0;
    border-bottom: 2px solid rgba(248, 248, 248, 1);
    background: rgba(248, 248, 248, 1);
}

    .smart-style-7 .dropdown-menu > li > a {
        color: #4E361B
    }

    .smart-style-7 .dropdown-menu .divider {
        background-color: rgba(0, 0, 0, .2)
    }

.smart-style-7 .dropdown-menu-large .dropdown-header {
    color: #5C391E
}

.smart-style-7 .has-warning .form-control {
    border-color: #c09853 !important
}

.smart-style-7 .has-error .form-control {
    border-color: #b94a48 !important
}

.smart-style-7 .has-success .form-control {
    border-color: #468847 !important
}

.smart-style-7 #shortcut {
    background-color: rgba(25, 16, 6, .85)
}

.smart-style-7 .ui-chatbox-titlebar {
    background-color: #66605B !important
}

    .smart-style-7 .ui-chatbox-titlebar.ui-state-focus {
        background-color: #4B433C !important
    }

.smart-style-7 #ribbon .breadcrumb,
.smart-style-7 #ribbon .breadcrumb a {
    color: #7C7C7C !important
}

    .smart-style-7 #ribbon .breadcrumb li:last-child,
    .smart-style-7 #ribbon .breadcrumb > .active {
        color: #5F5F5F
    }

.smart-style-7.fixed-ribbon #ribbon {
    box-shadow: 0 .0625em .3125em rgba(0, 0, 0, .35)
}

.smart-style-7 #logo-group span#activity,
.smart-style-7 .btn-header > :first-child > a {
    background-color: #DD7C37;
    background-image: -moz-linear-gradient(top, #5a5a5a, #686868);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5a5a5a), to(#686868));
    background-image: -webkit-linear-gradient(top, #5a5a5a, #686868);
    background-image: -o-linear-gradient(top, #5a5a5a, #686868);
    background-image: linear-gradient(to bottom, #5a5a5a, #686868);
    color: #fff !important;
    border: 1px solid #fff;
    text-shadow: #fff 0 -1px
}

    .smart-style-7 #logo-group span#activity:active,
    .smart-style-7 #logo-group span#activity:hover,
    .smart-style-7 .btn-header > :first-child > a:active,
    .smart-style-7 .btn-header > :first-child > a:hover {
        -webkit-box-shadow: inset 1px 1px 0 #5a5a5a, inset -1px -1px 0 #686868;
        -moz-box-shadow: inset 1px 1px 0 #5a5a5a, inset -1px -1px 0 #686868;
        box-shadow: inset 1px 1px 0 #5a5a5a, inset -1px -1px 0 #686868;
        background-color: #fff;
        background-image: -moz-linear-gradient(top, #5a5a5a, #686868);
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5a5a5a), to(#686868));
        background-image: -webkit-linear-gradient(top, #5a5a5a, #686868);
        background-image: -o-linear-gradient(top, #5a5a5a, #686868);
        background-image: linear-gradient(to bottom, #5a5a5a, #686868)
    }

.smart-style-7 .header-dropdown-list > li > .dropdown-toggle,
.smart-style-7 .project-context > :first-child,
.smart-style-7 .project-selector {
    color: #fff;
    text-shadow: #985813 0 -1px
}

.smart-style-7 nav ul li a,
.smart-style-7 nav ul li.open > a,
.smart-style-7 nav ul li.open > a b {
    color: #444 !important
}

.smart-style-7 nav > ul ul li::before,
.smart-style-7 nav > ul > li > ul::before {
    border: none
}

.smart-style-7 .page-footer,
.smart-style-7 .superbox-show {
    background: #3D3B39
}

.smart-style-7.minified nav > ul > li {
    border-bottom: 1px solid #E9E4E4;
    border-top: 1px solid #FFF
}

    .smart-style-7.minified nav > ul > li.open ul li > a {
        padding-left: 14px
    }

    .smart-style-7.minified nav > ul > li > ul,
    .smart-style-7.minified nav > ul > li > ul > li > ul > li {
        background-color: rgba(69, 69, 69, .9)
    }

.smart-style-7.minified nav ul li a,
.smart-style-7.minified nav ul li.open > a,
.smart-style-7.minified nav ul li.open > a b {
    color: #333 !important
}

.smart-style-7 .dropdown-menu > .active > a,
.smart-style-7 .dropdown-menu > .active > a:hover,
.smart-style-7 .dropdown-menu > li > a:focus,
.smart-style-7 .dropdown-menu > li > a:hover,
.smart-style-7 .tt-suggestion.tt-is-under-cursor {
    background-color: rgba(0, 0, 0, 0);
    color: #666
}

.smart-style-7 .dropdown-menu-large > li ul > li > a:focus,
.smart-style-7 .dropdown-menu-large > li ul > li > a:hover {
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0)
}

.smart-style-7 input:not([type]),
.smart-style-7 input[type=color],
.smart-style-7 input[type=email],
.smart-style-7 input[type=number],
.smart-style-7 input[type=password],
.smart-style-7 input[type=tel],
.smart-style-7 input[type=text],
.smart-style-7 input[type=url],
.smart-style-7 textarea {
    border-top-color: #a3a3a3;
    border-left-color: #a3a3a3;
    border-bottom-color: #ccc;
    border-right-color: #ccc;
    -webkit-box-shadow: inset 0 1px 0 #d6d6d6;
    -moz-box-shadow: inset 0 1px 0 #d6d6d6;
    box-shadow: inset 0 1px 0 #d6d6d6;
    color: #000
}

.smart-style-7 .select2-container-multi .select2-choices .select2-search-field input,
.smart-style-7 .tt-hint {
    box-shadow: none !important;
    border: none !important
}

.smart-style-7 .SmallBox span,
.smart-style-7 .bigBox span {
    letter-spacing: 0
}

.smart-style-7.menu-on-top nav ul ul li > a {
    color: inherit
}

.smart-style-7.menu-on-top nav ul ul li a {
    padding-left: 10px !important;
    font-size: 13px
}

.smart-style-7.menu-on-top nav ul ul li:hover > a {
    color: #fff
}

.smart-style-7.menu-on-top nav ul ul .active > a {
    color: #333 !important
}

.smart-style-7.menu-on-top nav ul > li > ul {
    left: -2px
}

.smart-style-7.menu-on-top nav > ul > li > a:hover {
    background: #fff !important
}

.smart-style-7.menu-on-top nav > ul > li > a:after {
    color: #8AA1B3 !important
}

.smart-style-7.menu-on-top aside {
    background: inherit
}

    .smart-style-7.menu-on-top aside#left-panel {
        -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .25);
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .25);
        border-bottom: 1px solid #fff;
        border-top: 1px solid #fff
    }

        .smart-style-7.menu-on-top aside#left-panel nav > ul > li {
            border-right: 1px solid #E2E2E2;
            border-left: 1px solid #FFF
        }

            .smart-style-7.menu-on-top aside#left-panel nav > ul > li > a {
                text-shadow: none !important;
                font-size: 13px;
                padding: 10px 9px !important;
                border: none !important
            }

            .smart-style-7.menu-on-top aside#left-panel nav > ul > li:hover {
                background: #fff
            }

.smart-style-7.menu-on-top nav ul ul,
.smart-style-7.menu-on-top nav ul ul ul {
    border-color: #E2E2E2
}

    .smart-style-7.menu-on-top nav ul ul li a:hover,
    .smart-style-7.menu-on-top nav ul ul li:hover > a,
    .smart-style-7.menu-on-top nav ul ul ul li a:hover {
        background: rgba(0, 0, 0, .05)
    }

    .smart-style-7.menu-on-top nav ul ul li a,
    .smart-style-7.menu-on-top nav ul ul ul li a {
        color: #D8DEE5
    }

        .smart-style-7.menu-on-top nav ul ul li a:hover,
        .smart-style-7.menu-on-top nav ul ul ul li a:hover {
            color: #fff
        }

    .smart-style-7.menu-on-top nav ul ul li:hover > a:after,
    .smart-style-7.menu-on-top nav > ul ul > li a:after,
    .smart-style-7.menu-on-top nav > ul ul > li a:hover:after,
    .smart-style-7.menu-on-top nav > ul > li > a:after {
        color: inherit
    }

    .smart-style-7.menu-on-top nav ul ul .active > a:hover,
    .smart-style-7.menu-on-top nav ul ul li.active:hover > a {
        color: #333 !important
    }

@media (max-width:979px) {
    .smart-style-7 #content {
        padding-left: 5px;
        padding-right: 5px
    }

    .smart-style-7 #ribbon {
        margin-left: 0;
        margin-right: 0;
        margin-top: 0;
        border-radius: 0
    }
}
