.partial-wrapper {
    height: 695px;

    table.wrapper-table {
        width:auto;

        tr {
            td:first-of-type {
               text-align:left;
            }

           
        }       
    }
}
