<div class="row partial-wrapper">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 pl-0 pr-0" *ngFor="let a of articles; first as isFirst; last as isLast" [ngClass]="{'pt-1':isFirst, 'pb-2':isLast}">
        <table class="wrapper-table">
            <tr>
                <td> 
                    <div class="row">
                        <div class="col-xs-12 pb-half"><span class="blueBoldText">Topic: </span><strong class="genericBlackText">Topic Name Goes Here</strong>  </div>
                        <div class="col-xs-12 genericBlackText" [innerHtml]="a.desc"></div>
                        <div class="col-xs-12 mt-1">
                            <span><i class="fa fa-heart-o heart"></i> {{a.likes}}</span>
                            <!--<span class="ml-1 cursor-p" placement="bottom" [tooltip]="shareTemplate" containerClass="share-tooltip"><i class="fa fa-share-alt cogs"></i> 2</span>-->
                        </div>
                    </div>
                </td>

            </tr>
        </table>
        <div *ngIf="!isLast" class="clearfix mt-0 mb-0">
            <hr class="clearfix" />
        </div>
    </div>
</div>
<ng-template #shareTemplate>
    <span class="well-sm">
        <i class="fa fa-facebook-official facebook-color txt-14"></i>
        <span class="txt-14 pl-1 pr-1 atp-blue opacity-point-4">|</span>
        <i class="fa fa-twitter twitter-color txt-14"></i>
    </span>
</ng-template>