<div id="content" class="pl-0">
    <div class="input-group input-group-lg hidden-mobile search-div">
        <input class="form-control input-lg" type="text" placeholder="Search" id="search-project">
        <div class="input-group-btn">
            <button type="submit" class="btn btn-default">
                &#xA0;&#xA0;&#xA0;<i class="fa fa-fw fa-search fa-lg"></i>&#xA0;&#xA0;&#xA0;
            </button>
        </div>
    </div>
    <div class="row wrapper">
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-9 content-section">
            <div class="profile-section pt-1 pb-1">
                <table>
                    <tr>
                        <td rowspan="2">
                            <div class="push-bit"><img src="../../../assets/atp/profile.jpg" /></div>
                        </td>
                        <td>
                            <label class="blackTitles m-0">Jessica Lorez</label> <!--<small class="pull-right pr-1 atp-blue opacity-point-8">33 years</small>-->
                        </td>
                    </tr>
                    <tr>
                        <td><label class="blueBoldText"><i class="fa fa-map-marker"></i> New York, USA </label></td>
                    </tr>
                </table>
            </div>

            <div class="scroll-menu">          
                <header class="atp-scroll-menu">
                    <nav class="vertical-align-middle">
                        <span class="genericBlackText" routerLinkActive="blueBoldTextMenu" [routerLink]="'/profile/video'">Videos</span>
                        <span class="genericBlackText" routerLinkActive="blueBoldTextMenu" [routerLink]="'/profile/articles'">Articles</span>
                        <span class="genericBlackText" routerLinkActive="blueBoldTextMenu" [routerLink]="'/profile/organizations'">Organizations</span>
                        <!--<span class="genericBlackText" routerLinkActive="blueBoldTextMenu" [routerLink]="'/profile/letters'">Letters</span>-->
                        <span class="genericBlackText" routerLinkActive="blueBoldTextMenu" [routerLink]="'/profile/petitions'">Petitions</span>
                        <span class="genericBlackText" routerLinkActive="blueBoldTextMenu" [routerLink]="'/profile/support'">Support</span>
                        <span class="genericBlackText" routerLinkActive="blueBoldTextMenu" [routerLink]="'/profile/boycott'">Boycott</span>
                    </nav>
                </header>
            </div>

            <div class="content-container">
                <router-outlet></router-outlet>
            </div>

        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3 recomm-section hidden-xs">
            <recommended-orgs></recommended-orgs>
        </div>
    </div>

</div>
<!-- END MAIN CONTENT -->
<ng-template #shareTemplate>
    <span class="well-sm">
        <i class="fa fa-facebook-official facebook-color txt-14"></i>
        <span class="txt-14 pl-1 pr-1 atp-blue opacity-point-4">|</span>
        <i class="fa fa-twitter twitter-color txt-14"></i>
    </span>
</ng-template>