.partial-wrapper {
    height: 695px;

    table.wrapper-table {
        width:auto;

        button {
            background-color: #012778;
            border: solid 1px #ccc;
            box-shadow: 1px 1px 0px #ccc;
            border-radius: 25px;
            font-size: 11px;
            padding: 6px 16px;
            color: white;
            font-weight: bolder;
            opacity: 0.8;
            text-transform: uppercase;
        }
    }
}
.modal-title{
    width:95%;
}