<!-- MAIN CONTENT -->
<div id="content">
  <div class="input-group input-group-lg search-bar">
    <input class="form-control input-lg" type="text" placeholder="Search again..." id="search-project">
    <div class="input-group-btn">
      <button type="submit" class="btn btn-default">
        &#xA0;&#xA0;&#xA0;<i class="fa fa-fw fa-search fa-lg"></i>&#xA0;&#xA0;&#xA0;
      </button>
    </div>
  </div>

  <div class="submit-header">
    <div class="text-center">
      Address verification
    </div>
  </div>

  <div class="row letters">
    <div class="col-xs-12 text-center mb-2">
      <h1 class="letter-heading">
        For us to find your representatives,<br />we will need your address ...
      </h1>
      <h3 class="letter-heading atp-blue">We will be sure to save it for future user.</h3>
    </div>

    <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4 ">
      <div class="form-wrapper">
        <form id="contact-form" class="smart-form" novalidate="novalidate">
          <header>Enter Your Home Address</header>
          <header>To Find Your Elected Officials & Challengers</header>
          <fieldset>
            <section>
              <label class="input">
                <input type="text" name="address" placeholder="Address" />
              </label>
            </section>
            <section>
              <label class="input">
                <input type="text" name="City" placeholder="City" />
              </label>
            </section>
            <section>
              <label class="input">
                <input type="text" name="State" placeholder="State" />
              </label>
            </section>

            <div class="row">
              <section class="col col-8">
                <label class="input">
                  <input type="text" name="zip" placeholder="Zip Code" />
                </label>
              </section>
              <section class="col col-4">
                <label class="input">
                  <input type="tel" name="ext" placeholder="Ext" />
                </label>
              </section>
            </div>
          </fieldset>
          <footer>
            <button type="submit" class="btn btn-block btn-primary text-upper">Find My Representatives</button>
          </footer>
         
        </form>
      </div>

    </div>



  </div>

</div>
