<div class="row letters">
    <div class="col-xs-12 atp-blue pt-2 txt-xs-center text-center bolder">
        <select class="custom-select">
            <option>Representatives Supported</option>
            <option>Representatives Boycotted</option>
        </select>
    </div>
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <div class="col-xs-4 col-sm-3" *ngFor="let s of letters">
            <img alt="assets/img" class="img-responsive margin-0-auto" src="../../../assets/atp/news-letter/{{s.id}}.PNG">
            <ul class="list-block text-center">
                <li class="bold" [innerText]="s.name"></li>
                <li class="atp-color opacity-point-7" [innerText]="s.addr"></li>
            </ul>
        </div>
    </div>
</div>
