.partial-wrapper {
    overflow-y: auto;
    height: 695px;
    margin-left: 0px;
    clear: both;
    overflow-x: hidden;
    margin-right: -2px;
    padding-right: 2px;

    .flex-wrapper {
        display: flex;
        margin-right: 0.75em;
        margin-left: 0.75em;

        div.image-wrapper {
            flex: 1;
            text-align: center;

            img {
                width: 78%;
                margin: 0 auto;
                min-width: 82px;
                padding-right: 0.5em;
                border-radius:57px;
            }
        }

        div.content-wrapper {
            flex: 7;
            margin-right: 0.75em;

            .rating {
                float: right;
                padding: 0;

                li {
                    display: inline;
                    padding-right: 3px;
                    float: left;
                    font-size: 11px;
                }

                .fa-star {
                    color: #ffd800;
                }
            }

            .rating1 {
                padding: 0;
                display: inline-flex;

                li {
                    display: inline;
                    padding-right: 3px;
                    float: left;
                    font-size: 11px;
                }

                .fa-star {
                    color: #ffd800;
                }
            }
        }
    }
}
