.partial-wrapper {
    overflow-y: auto;
    height: 695px;
    margin-left: 0px;
    clear: both;
    overflow-x: hidden;
    margin-right: -2px;
    padding-right:2px;

    table.wrapper-table {
        width:auto;

        tr {
            td:first-of-type {
                padding-right: 0.8em;

                .rounded-image {
                    border-radius: 140px;
                }
            }
        }
        .rating {
            float: right;
            padding: 0;

            li {
                display: inline;
                padding-right: 3px;
                float: left;
                font-size: 11px;
            }

            .fa-star {
                color: #ffd800;
            }
        }

        .rating1 {
            padding: 0;
            display:inline-flex;
            li {
                display: inline;
                padding-right: 3px;
                float: left;
                font-size: 11px;
            }

            .fa-star {
                color: #ffd800;
            }
        }
    }
}
