<div class="row partial-wrapper">
    <div class="col-xs-12 pr-0 pl-0 mr-0 ml-0" *ngFor="let n of events; first as isFirst; last as isLast" [ngClass]="{'pt-2':isFirst, 'pb-2':isLast}">
        <table class="wrapper-table">
            <tr>
                <td colspan="2"><img [src]="n.avatar[0].src" alt="avatar" class="img-post"> </td>
                <td>
                    <div class="pb-1"><strong class="level-2h" [innerText]="n.title"></strong> <small class="pull-right" [innerText]="n.time"></small> </div>
                    <div class="pb-half"><strong class="level-1h atp-blue pt-half" [innerText]="n.name"></strong> </div>
                    <div class="pb-half"><strong class="level-3h" [innerText]="n.date"></strong> </div>
                    <div class="pb-half"><strong class="level-4h" [innerText]="n.addr"></strong> </div>
                    <p class="pt-1 desc" [innerText]="n.desc"></p>
                    <!--<div class="mb-1">
                        <img *ngFor="let img of n.images" [src]="img.src" alt="avatar" class="image-reponsive main-post pt-1" />
                    </div>
                    <p>
                        <span><i class="fa fa-heart-o heart"></i> {{n.likes}}</span>
                        <span class="ml-1 cursor-p" placement="bottom" [tooltip]="shareTemplate" containerClass="share-tooltip"><i class="fa fa-share-alt cogs"></i> 2</span>
                    </p>-->
                </td>
            </tr>
        </table>

        <div *ngIf="!isLast" class="clearfix">
            <hr class="clearfix" />
        </div>
    </div>
</div>
<ng-template #shareTemplate>
    <span class="well-sm">
        <i class="fa fa-facebook-official facebook-color txt-14"></i>
        <span class="txt-14 pl-1 pr-1 atp-blue opacity-point-4">|</span>
        <i class="fa fa-twitter twitter-color txt-14"></i>
    </span>
</ng-template>