<div class="row partial-wrapper">
    <div class="col-xs-12 pr-0 pl-0 mr-0 ml-0" *ngFor="let n of events; first as isFirst; last as isLast" [ngClass]="{'pt-2':isFirst, 'pb-2':isLast}">
        <table class="wrapper-table">
            <tr (click)="toggleShowDesc($event)">
                <td><img [src]="n.avatar[0].src" alt="avatar" class="img-post"> </td>
                <td class="line-height-23">
                    <div><strong class="level-1h atp-blue" [innerText]="n.name"></strong>  <small class="pull-right" [innerText]="n.time"></small></div>
                    <div><strong class="atp-red" [innerText]="n.date"></strong> </div>
                    <div><strong class="level-4h" [innerText]="n.addr"></strong> </div>               
                </td>
            </tr>
            <tr [style.display] ="colSpan ===2 ? 'none': ''">
                <td  [style.display] ="colSpan ===2 ? 'none': ''"></td>
                <td [attr.colspan]="colSpan">
                    <p class="pt-1 desc" [innerText]="n.desc"></p>
                </td>
            </tr>
        </table>

        <div *ngIf="!isLast" class="clearfix">
            <hr class="clearfix" />
        </div>
    </div>
</div>
<ng-template #shareTemplate>
    <span class="well-sm">
        <i class="fa fa-facebook-official facebook-color txt-14"></i>
        <span class="txt-14 pl-1 pr-1 atp-blue opacity-point-4">|</span>
        <i class="fa fa-twitter twitter-color txt-14"></i>
    </span>
</ng-template>