.partial-wrapper {
    height: 71rem;
    .wrapper-table {
            width: auto;

            tr {
                td:first-of-type {
                                   
                }                            
            }            
        }
}
